@font-face{
	font-family:Armata;
	src:url("../fonts/Armata-Regular-webfont.woff");
}
@zero:0;
@color333343:#333343;
@colorCCC:#CCC;
@colorFFF:#FFF;
@colorF00:#F00;
@unit1px:1px;
@posAuto:auto;
.boxShadow(){
  box-shadow:@zero @unit1px * 10 @unit1px * 5 @unit1px @colorCCC;
  -moz-box-shadow:@zero @unit1px * 10 @unit1px * 5 @unit1px @colorCCC;
  -webkit-box-shadow:@zero @unit1px * 10 @unit1px * 5 @unit1px @colorCCC;
}
.borderRadius(@radius:5px){
  border-radius:@radius;
}
.floatElement(@pos:left){
  float:@pos;
}
.clearElement(@pos:left){
  clear:@pos;
}
.textAlign(@alignPos:left){
  text-align:@alignPos;
}
body{
	font-family:"Armata";
    .textAlign(center);
	font-size:85%;
	color :@color333343;
}
body,html,div,h1,h2,h3,h4,h5,h6,p,ol,ul,li,section,nav,header,footer,input{
	margin:@zero;
	padding:@zero;
	list-style:none;
}
img{
	border:@zero;
	max-width:100%;
}
p{
	margin:@zero @zero 1em;
}
.contentWrapper{
    .textAlign();
	margin:@zero @posAuto;
}
.hide{
	display:none;
}
.clearFloat,.group{
	overflow:@posAuto;
	zoom:1;
}
.headerWrapper{
	background:#003676;
	.boxShadow();
	margin:@zero @posAuto .5em;
}
#header{
	margin:@zero @posAuto;
	padding:.9em @zero;
}
.logo{
	width:285px;
    .textAlign();
	.floatElement();
	.clearElement();
    a {
      background:#FE7D19;
      color:@colorFFF;
      text-decoration:none;
      text-transform:uppercase;
      padding:.5em;
      .borderRadius(10px);
    }
}
#navigation{
	font-size:1.1em;
	padding:.2em;
	width:400px;
	.floatElement(right);
	.clearElement(right);
	margin:@zero;
    .textAlign(right);
    li{
      display:inline;
      margin:@zero @zero @zero 1em;
    }
    a{
      color:@colorFFF;
      text-decoration:none;
      font-weight:bold;
      font-size:1em;
      padding:.5em;
      :hover{
        background:#FE7D19;
        color:@colorFFF;
        .borderRadius(5px);
      }
    }
    .active{
      background:#FE7D19;
      padding:.5em;
      color:@colorFFF;
      .borderRadius();
      :hover{
        color:#003676;
      }
    }
}
.langNav{
  margin:.5em @zero;
  width:280px;
  padding:.5em @zero;
  background:@colorCCC;
  li{
    display:inline;
    margin:@zero .5em @zero;
  }
}
.message{
	background:#F2F2F2;
	padding:1em;
    .borderRadius(.5em);
	margin:@zero @zero 1em;
	border:1px solid @colorCCC;
	font-weight:bold;
	font-style:italic;
    p{
      margin:@zero;
    }
}
	.success p{
		margin:@zero @zero .5em;
	}
	.error p,#deleteSuccess{
		color:@colorF00;
	}
	#addEditSuccess{
		color:#00F;
		font-weight:bold;
	}
h2{
	font-size:1.5em;
	padding:@zero @zero .5em;
	margin:@zero;
}
h3{
	display:none;
	font-weight:normal;
	font-size:1.5em;
	margin:@zero @zero .5em;
}
.textBox,.button,select{
	padding:.5em;
	border:1px solid #D8DCE2;
    .borderRadius(5px);
	border-shadow:none;
	font-size:1.1em;
	color:#474747;
	font-family:"Armata";
	width:80%;
}
.readonlyText{
	background:#F2F2F2;
}
select{
	width:@posAuto;
}
.small{
	width:20%;
}
.textArea{
	height:5em;
}
.group{
	margin:@zero @zero .5em;
}
.buttonGroup{
	margin:@zero @zero @zero 9em;
}
.error{
  .textBox{  
	border-color:@colorF00;
	color:@colorF00;
  }
  label{
    color:@colorF00;
  }
}	
.buttonGroup{
  .clearElement(both);
}
.button{
	background:#091C5A;
	border-color:#474747;
	width:@posAuto;
	padding:.5em 2em;
	margin:@zero .5em .5em @zero;
	color:@colorFFF;
	border:@zero;
	font-weight:bold;
	cursor:pointer;
    :hover{
      background:#FE7D19;
    }
}
.secondary{
	background:#9C9CA8;
	color:#081B5A;
}
	.secondary:hover{
		color:@colorFFF;
	}
label{
	display:block;
	.floatElement();
	width:9em;
	color:#081B5A;
	font-weight:bold;
}
.field{
	display:block;
	margin:@zero @zero 1em;
    label{
      display:inline;
      margin:@zero 1em @zero @zero;
      color:@color333343;
      font-weight:normal;
    }
}
.footerWrapper{
	border-top:1px solid #333343;
    .clearElement(both);
	margin:1em @zero @zero;
	padding:.5em @zero;
    .textAlign(center);
}
.inlineError{
	margin:@zero @zero .5em;
	color:#003676;
    .textAlign(right);
	font-size:.8em;
}
.successMsg{
	border:1px solid #C2D337;
    .borderRadius();
	background:#F5F8DF;
	color:#8E9B25;
	padding:.5em;
}
.miniLink{
	display:none;
}
.tasksDisp{
	background:#F6F7F9;
	margin:@zero @zero 1em;
	padding:.5em;
    .borderRadius();
    p{
      margin:@zero @zero .5em;
    }
}
.taskLabel{
	text-transform:capitalize;
	color:#FE7D19;
    .floatElement();
}
@media screen and (min-width:915px){
	.contentWrapper,#header{
		width:960px;
	}
}
@media screen and (min-width:768px) and (max-width:914px){
	.contentWrapper,#header{
		width:700px;
	}
	.button{
		width:@posAuto;
	}
}
@media screen and (min-width:480px) and (max-width:767px){
	.contentWrapper,#header{
		width:450px;
	}
	#navigation{
		width:@posAuto;
		.floatElement();
		clear:none;
		margin:@zero;
	}
	label{
		float:none;
		width:@posAuto;
		margin:@zero @zero .5em @zero;
	}
	.buttonGroup{
		margin:@zero;
	}
}
@media screen and (max-width:479px){
	.contentWrapper,#header{
		width:93%;
	}
	#navigation{
		width:@posAuto;
		margin:@zero;
		.floatElement(right);
		.clearElement(right);
        li{
          display:block;
          margin:@zero @zero .5em;
          font-size:.9em;
          .textAlign();
        }
        a{
          color :@color333343;
          display:block;
          :hover{
            color:#003676;
          }
        }
	}
	.miniLink{
		display:block;
		border:1px solid #787878;
        .borderRadius();
		font-size:1em;
		padding:.2em .5em;
		margin:@zero;
		background:#EDEDED;
		cursor:pointer;
	}
	.topNavigation{
		display:none;
		margin:.5em @zero .5em;
		background:@colorFFF;
		position:absolute;
		width:100px;
		right:1.3em;
		padding:@zero;
		border:2px dashed #003676;
	}
	label{
        .floatElement(none);
		width:@posAuto;
		margin:@zero @zero .5em @zero;
	}
	.buttonGroup{
		margin:@zero;
	}
}

/* RTL Stylesheet for Hebrew language */
.rtl{
  .contentWrapper{
    .textAlign(right);
  }
  .logo{
    .textAlign(right);
    .floatElement(right);
    .clearElement(right);
  }
  #navigation{
    .floatElement();
    .clearElement();
    .textAlign();
    li{
      margin:@zero 1em @zero @zero;
    }
  }
  .buttonGroup{
    margin:@zero 9em @zero @zero;
  }
  .button{
    margin:@zero @zero .5em .5em;
  }
  label{
    .floatElement(right);
  }
  .field{
    label{
      margin:@zero @zero @zero 1em;
    }
  }
  .inlineError{
    .textAlign();
  }
  .taskLabel{
    .floatElement(right);
  }
  @media screen and (min-width:915px){

  }
  @media screen and (min-width:768px) and (max-width:914px){

  }
  @media screen and (min-width:480px) and (max-width:767px){

  }
  @media screen and (max-width:479px){
    #navigation{
      .floatElement();
      .clearElement();
      li{
        .textAlign(right);
      }
    }
    .topNavigation{
      left:1.3em;
    }
  }
}